.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* common */
a {
  color: inherit;
}
/* navbar */
.navbar-brand {
  padding-top: 0;
}
.logo {
  width: 200px;
}
.navbar-dark .navbar-toggler {
  border: 0;
}

/* visual */
.visual {
  padding: 200px 0;
  background: url('https://www.customellow.com/images/rom-main.jpg') center 10%;
  color: whitesmoke;
}
.visual h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
.visual h1 {
  font-size: 58px;
}

/* card */
.card {
  border: 0;
  margin: 50px auto;
}
.card .row > a.loading {
  background: red;
}
.card img {
  width: 100%;
  margin-bottom: 20px;
}
.card .title {
  font-size: 18px;
}
.card .desc {
  font-size: 14px;
}

/* detail */
.detail {
  margin: 100px auto;
}
.detail .wow-enter {
  opacity: 0;
}
.detail .wow-enter-active {
  opacity: 1;
  transition: all .5s;
}